
.swiper-button-next {
    color: white;
    right: 0;
}
.swiper-button-prev{
    left: 0;
    color: white;
}
.swiper-button-next::after, .swiper-button-prev::after {
    background-color: #2E2E2E;
    padding: 8px;
    font-size: 1.6rem;
}
.swiper-button-next::after{
    border-radius: 8px 0 0 8px;
}
.swiper-button-prev::after{
    border-radius: 0 8px 8px 0;
}

textarea::-webkit-scrollbar{
    width: 0;
}