@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&family=Mali:wght@300;400;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Rubik', sans-serif;
}
input:-webkit-autofill {
    color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px #454545 inset !important;
}
input:-webkit-autofill{
    -webkit-text-fill-color: white !important;
}